<div class="container">
  <%= form_for(@restaurants) do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %>
    <%= t.label :address  %>
    <%= t.text_field :address %>
    <%= t.label :category  %>
    <%= t.text_field :category %>
    <%= t.submit "Add Restaurant" %>
  <% end %>
</div>
